* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  width: 100%;
}
body {
  overflow: hidden;
  font-family: "Trebuchet MS";
}
div.leaflet-popup-content {
  text-align: center;
  text-transform: capitalize;
}
#mapContainer, #searchContainer {
  width: 100%;
}
#searchContainer {
  height: 20%;
  overflow: hidden;
  padding: 0 1em;
  -webkit-overflow-scrolling: touch;
}
#search {
  height: 100%;
}
#hood, #suggestions {
  box-shadow: 0 0 1px #888;
  font-size: 1.8em;
  text-transform: capitalize;
}
#hood {
  border: 0;
  margin: 0.5em auto;
  min-height: 30px;
  overflow: hidden;
  padding: 1%;
  width: 100%;
}
#mapContainer {
  height: 80%;
}
#map {
  height: 100%;
  position: relative;
}
#suggestions {
  background: #fff;
  cursor: pointer;
  display: none;
  position: absolute;
}
#suggestions div {
  padding: 0 0 0 1%;
}
#suggestions div:hover,
.selected { 
  background: #eee;
}

@media screen and (max-width: 500px) {
  #hood, #suggestions {
    padding: 0 0.25em;
  }
  #hood {
    box-shadow: 0;
    height: 100%;
    margin: 0;
  }
  #searchContainer {
    padding: 0;
  }
}

@media screen and (min-height: 500px) {
  #searchContainer {
    height: 16%;
  }
  #mapContainer { 
    height: 84%;
  }
}
@media screen and (min-height: 600px) {
  #searchContainer {
    height: 14%;
  }
  #mapContainer { 
    height: 86%;
  }
}
@media screen and (min-height: 700px) {
  #searchContainer {
    height: 12%;
  }
  #mapContainer { 
    height: 88%;
  }
}
@media screen and (min-height: 800px) {
  #searchContainer {
    height: 10%;
  }
  #mapContainer { 
    height: 90%;
  }
}
